<div>
    <div style="overflow:auto;">
        <div style="width:100px;float:left;">
            OperatorID: 
        </div>
        <div style="width:100px;float:left;">
            <input type="text" id="opID" #username (keyup)="userr(username.value)" (keydown)="userr(username.value)" required>
        </div>
    </div>

    <div style="overflow:auto;">
        <div style="width:100px;float:left;">
            Password: 
        </div>
        <div style="width:100px;float:left;">
            <input type="password" id="opPass" #password (keyup)="passs(username.value)"  required>
        </div>
    </div>

    <div style="overflow:auto;">
        <div style="width:100px;float:left;">
            <button (click)="setUser()">Login</button>
            <p hidden>ID or password missing!</p>
        </div>
    </div>
</div>
