* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f8f8f8;
    color: #000000;
    height: 100%;
}

.shadow {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}


